.mayor {
	background-color: #ffff00;
}
.admin {
	background-color: #6b6b80;
}

.stream-buddy {
	background-color: #9900cc;
	color: white;
}

.bot-name {
	background-color: #9494b8;
}

.mythril-butt {
	background-color: #9933ff;
	color: white;
	}